@model Slide

<div class="col-6">
    <img src="~/assets/images/slider/@Model.Image" style="width:400px; height:180px;object-fit:cover" />
    <h2>@Model.Title</h2>
    <a class="btn btn-secondary" asp-action="Index">Go Back</a>
</div>