@model List<Product>

<div class="container">
    <div class="row">
        <div class="section-title-wrap without-tab">
            <h2 class="section-title">Related Products</h2>
            <p class="section-desc">
                Contrary to popular belief, Lorem Ipsum is not simply random
                text. It has roots in a piece of classical Latin literature
            </p>
        </div>
        <div class="col-lg-12">
            <div class="swiper-container product-slider">
                <div class="swiper-wrapper">

                    @foreach (Product product in Model)
                    {
                        <div class="swiper-slide product-item">
                            <div class="product-img">
                                <a asp-controller="Product" asp-action="Detail" asp-all-route-id="product.id">
                                    <img class="primary-img"
                                         src="~/assets/images/website-images/@product.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==true)?.Url"
                                         alt="@product.Name" />
                                    <img class="secondary-img" `
                                         src="~/assets/images/website-images/@product.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==false)?.Url"
                                         alt="@product.Name" />
                                </a>
                                <div class="product-add-action">
                                    <ul>
                                        <li>
                                            <a href="wishlist.html"
                                               data-tippy="Add to wishlist"
                                               data-tippy-inertia="true"
                                               data-tippy-animation="shift-away"
                                               data-tippy-delay="50"
                                               data-tippy-arrow="true"
                                               data-tippy-theme="sharpborder">
                                                <i class="pe-7s-like"></i>
                                            </a>
                                        </li>
                                        <li class="quuickview-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#quickModal">
                                            <a href="#"
                                               data-tippy="Quickview"
                                               data-tippy-inertia="true"
                                               data-tippy-animation="shift-away"
                                               data-tippy-delay="50"
                                               data-tippy-arrow="true"
                                               data-tippy-theme="sharpborder">
                                                <i class="pe-7s-look"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="cart.html"
                                               data-tippy="Add to cart"
                                               data-tippy-inertia="true"
                                               data-tippy-animation="shift-away"
                                               data-tippy-delay="50"
                                               data-tippy-arrow="true"
                                               data-tippy-theme="sharpborder">
                                                <i class="pe-7s-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <a class="product-name"
                                   asp-controller="Product" asp-action="Detail" asp-route-id="product.id">@product.Name</a>
                                <div class="price-box pb-1">
                                    <span class="new-price">$@product.Price</span>
                                </div>
                                <div class="rating-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="swiper-slide product-item">
                        <div class="product-img">
                            <a href="single-product-variable.html">
                                <img class="primary-img"
                                     src="~/assets/images/website-images/1-9-270x300.jpg"
                                     alt="Product Images" />
                                <img class="secondary-img"
                                     src="~/assets/images/website-images/1-10-270x300.jpg"
                                     alt="Product Images" />
                            </a>
                            <div class="product-add-action">
                                <ul>
                                    <li>
                                        <a href="wishlist.html"
                                           data-tippy="Add to wishlist"
                                           data-tippy-inertia="true"
                                           data-tippy-animation="shift-away"
                                           data-tippy-delay="50"
                                           data-tippy-arrow="true"
                                           data-tippy-theme="sharpborder">
                                            <i class="pe-7s-like"></i>
                                        </a>
                                    </li>
                                    <li class="quuickview-btn"
                                        data-bs-toggle="modal"
                                        data-bs-target="#quickModal">
                                        <a href="#"
                                           data-tippy="Quickview"
                                           data-tippy-inertia="true"
                                           data-tippy-animation="shift-away"
                                           data-tippy-delay="50"
                                           data-tippy-arrow="true"
                                           data-tippy-theme="sharpborder">
                                            <i class="pe-7s-look"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="cart.html"
                                           data-tippy="Add to cart"
                                           data-tippy-inertia="true"
                                           data-tippy-animation="shift-away"
                                           data-tippy-delay="50"
                                           data-tippy-arrow="true"
                                           data-tippy-theme="sharpborder">
                                            <i class="pe-7s-cart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <a class="product-name"
                               href="single-product-variable.html">American Marigold</a>
                            <div class="price-box pb-1">
                                <span class="new-price">$23.45</span>
                            </div>
                            <div class="rating-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide product-item">
                        <div class="product-img">
                            <a href="single-product-variable.html">
                                <img class="primary-img"
                                     src="~/assets/images/website-images/1-10-270x300.jpg"
                                     alt="Product Images" />
                                <img class="secondary-img"
                                     src="~/assets/images/website-images/1-11-270x300.jpg"
                                     alt="Product Images" />
                            </a>
                            <div class="product-add-action">
                                <ul>
                                    <li>
                                        <a href="wishlist.html"
                                           data-tippy="Add to wishlist"
                                           data-tippy-inertia="true"
                                           data-tippy-animation="shift-away"
                                           data-tippy-delay="50"
                                           data-tippy-arrow="true"
                                           data-tippy-theme="sharpborder">
                                            <i class="pe-7s-like"></i>
                                        </a>
                                    </li>
                                    <li class="quuickview-btn"
                                        data-bs-toggle="modal"
                                        data-bs-target="#quickModal">
                                        <a href="#"
                                           data-tippy="Quickview"
                                           data-tippy-inertia="true"
                                           data-tippy-animation="shift-away"
                                           data-tippy-delay="50"
                                           data-tippy-arrow="true"
                                           data-tippy-theme="sharpborder">
                                            <i class="pe-7s-look"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="cart.html"
                                           data-tippy="Add to cart"
                                           data-tippy-inertia="true"
                                           data-tippy-animation="shift-away"
                                           data-tippy-delay="50"
                                           data-tippy-arrow="true"
                                           data-tippy-theme="sharpborder">
                                            <i class="pe-7s-cart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <a class="product-name"
                               href="single-product-variable.html">Black Eyed Susan</a>
                            <div class="price-box pb-1">
                                <span class="new-price">$25.45</span>
                            </div>
                            <div class="rating-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide product-item">
                        <div class="product-img">
                            <a href="single-product-variable.html">
                                <img class="primary-img"
                                     src="~/assets/images/website-images/1-11-270x300.jpg"
                                     alt="Product Images" />
                                <img class="secondary-img"
                                     src="~/assets/images/website-images/1-4-270x300.jpg"
                                     alt="Product Images" />
                            </a>
                            <div class="product-add-action">
                                <ul>
                                    <li>
                                        <a href="wishlist.html"
                                           data-tippy="Add to wishlist"
                                           data-tippy-inertia="true"
                                           data-tippy-animation="shift-away"
                                           data-tippy-delay="50"
                                           data-tippy-arrow="true"
                                           data-tippy-theme="sharpborder">
                                            <i class="pe-7s-like"></i>
                                        </a>
                                    </li>
                                    <li class="quuickview-btn"
                                        data-bs-toggle="modal"
                                        data-bs-target="#quickModal">
                                        <a href="#"
                                           data-tippy="Quickview"
                                           data-tippy-inertia="true"
                                           data-tippy-animation="shift-away"
                                           data-tippy-delay="50"
                                           data-tippy-arrow="true"
                                           data-tippy-theme="sharpborder">
                                            <i class="pe-7s-look"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="cart.html"
                                           data-tippy="Add to cart"
                                           data-tippy-inertia="true"
                                           data-tippy-animation="shift-away"
                                           data-tippy-delay="50"
                                           data-tippy-arrow="true"
                                           data-tippy-theme="sharpborder">
                                            <i class="pe-7s-cart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <a class="product-name"
                               href="single-product-variable.html">Bleeding Heart</a>
                            <div class="price-box pb-1">
                                <span class="new-price">$30.45</span>
                            </div>
                            <div class="rating-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide product-item">
                        <div class="product-img">
                            <a href="single-product-variable.html">
                                <img class="primary-img"
                                     src="~/assets/images/website-images/1-7-270x300.jpg"
                                     alt="Product Images" />
                                <img class="secondary-img"
                                     src="~/assets/images/website-images/1-8-270x300.jpg"
                                     alt="Product Images" />
                            </a>
                            <div class="product-add-action">
                                <ul>
                                    <li>
                                        <a href="wishlist.html"
                                           data-tippy="Add to wishlist"
                                           data-tippy-inertia="true"
                                           data-tippy-animation="shift-away"
                                           data-tippy-delay="50"
                                           data-tippy-arrow="true"
                                           data-tippy-theme="sharpborder">
                                            <i class="pe-7s-like"></i>
                                        </a>
                                    </li>
                                    <li class="quuickview-btn"
                                        data-bs-toggle="modal"
                                        data-bs-target="#quickModal">
                                        <a href="#"
                                           data-tippy="Quickview"
                                           data-tippy-inertia="true"
                                           data-tippy-animation="shift-away"
                                           data-tippy-delay="50"
                                           data-tippy-arrow="true"
                                           data-tippy-theme="sharpborder">
                                            <i class="pe-7s-look"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="cart.html"
                                           data-tippy="Add to cart"
                                           data-tippy-inertia="true"
                                           data-tippy-animation="shift-away"
                                           data-tippy-delay="50"
                                           data-tippy-arrow="true"
                                           data-tippy-theme="sharpborder">
                                            <i class="pe-7s-cart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <a class="product-name"
                               href="single-product-variable.html">Bloody Cranesbill</a>
                            <div class="price-box pb-1">
                                <span class="new-price">$45.00</span>
                            </div>
                            <div class="rating-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>