@model List<Product>

<div class="product-item-wrap row">
   @foreach (Product product in Model)
   {
        <div class="col-xl-3 col-md-4 col-sm-6">
            <div class="product-item">
                <div class="product-img">
                    <a asp-controller="product" asp-action="detail" asp-route-id="@product.Id">
                        <img class="primary-img"
                             src="~/assets/images/website-images//@product.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==true)?.Url"
                             alt="Product Images" />
                        <img class="secondary-img"
                             src="~/assets/images/website-images//@product.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==false)?.Url"
                             alt="Product Images" />
                    </a>
                    <div class="product-add-action">
                        <ul>
                            <li>
                                <a href="wishlist.html"
                                   data-tippy="Add to wishlist"
                                   data-tippy-inertia="true"
                                   data-tippy-animation="shift-away"
                                   data-tippy-delay="50"
                                   data-tippy-arrow="true"
                                   data-tippy-theme="sharpborder">
                                    <i class="pe-7s-like"></i>
                                </a>
                            </li>
                            <li class="quuickview-btn"
                                data-bs-toggle="modal"
                                data-bs-target="#quickModal">
                                <a href="#"
                                   data-tippy="Quickview"
                                   data-tippy-inertia="true"
                                   data-tippy-animation="shift-away"
                                   data-tippy-delay="50"
                                   data-tippy-arrow="true"
                                   data-tippy-theme="sharpborder">
                                    <i class="pe-7s-look"></i>
                                </a>
                            </li>
                            <li>
                                <a href="cart.html"
                                   data-tippy="Add to cart"
                                   data-tippy-inertia="true"
                                   data-tippy-animation="shift-away"
                                   data-tippy-delay="50"
                                   data-tippy-arrow="true"
                                   data-tippy-theme="sharpborder">
                                    <i class="pe-7s-cart"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="product-content">
                    <a class="product-name" asp-controller="product" asp-action="detail" asp-route-id="@product.Id">@product.Name</a>
                    <div class="price-box pb-1">
                        <span class="new-price">$@product.Price</span>
                    </div>
                    <div class="rating-box">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
   }





  @*   <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="product-item">
            <div class="product-img">
                <a href="shop.html">
                    <img class="primary-img"
                         src="~/assets/images/website-images//1-2-270x300.jpg"
                         alt="Product Images" />
                    <img class="secondary-img"
                         src="~/assets/images/website-images//1-3-270x300.jpg"
                         alt="Product Images" />
                </a>
                <div class="product-add-action">
                    <ul>
                        <li>
                            <a href="wishlist.html"
                               data-tippy="Add to wishlist"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-like"></i>
                            </a>
                        </li>
                        <li class="quuickview-btn"
                            data-bs-toggle="modal"
                            data-bs-target="#quickModal">
                            <a href="#"
                               data-tippy="Quickview"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-look"></i>
                            </a>
                        </li>
                        <li>
                            <a href="cart.html"
                               data-tippy="Add to cart"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-cart"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-content">
                <a class="product-name" href="shop.html">Black Eyed Susan</a>
                <div class="price-box pb-1">
                    <span class="new-price">$25.45</span>
                </div>
                <div class="rating-box">
                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="product-item">
            <div class="product-img">
                <a href="shop.html">
                    <img class="primary-img"
                         src="~/assets/images/website-images//1-3-270x300.jpg"
                         alt="Product Images" />
                    <img class="secondary-img"
                         src="~/assets/images/website-images//1-4-270x300.jpg"
                         alt="Product Images" />
                </a>
                <div class="product-add-action">
                    <ul>
                        <li>
                            <a href="wishlist.html"
                               data-tippy="Add to wishlist"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-like"></i>
                            </a>
                        </li>
                        <li class="quuickview-btn"
                            data-bs-toggle="modal"
                            data-bs-target="#quickModal">
                            <a href="#"
                               data-tippy="Quickview"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-look"></i>
                            </a>
                        </li>
                        <li>
                            <a href="cart.html"
                               data-tippy="Add to cart"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-cart"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-content">
                <a class="product-name" href="shop.html">Bleeding Heart</a>
                <div class="price-box pb-1">
                    <span class="new-price">$30.45</span>
                </div>
                <div class="rating-box">
                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="product-item">
            <div class="product-img">
                <a href="shop.html">
                    <img class="primary-img"
                         src="~/assets/images/website-images//1-4-270x300.jpg"
                         alt="Product Images" />
                    <img class="secondary-img"
                         src="~/assets/images/website-images//1-5-270x300.jpg"
                         alt="Product Images" />
                </a>
                <div class="product-add-action">
                    <ul>
                        <li>
                            <a href="wishlist.html"
                               data-tippy="Add to wishlist"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-like"></i>
                            </a>
                        </li>
                        <li class="quuickview-btn"
                            data-bs-toggle="modal"
                            data-bs-target="#quickModal">
                            <a href="#"
                               data-tippy="Quickview"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-look"></i>
                            </a>
                        </li>
                        <li>
                            <a href="cart.html"
                               data-tippy="Add to cart"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-cart"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-content">
                <a class="product-name" href="shop.html">Bloody Cranesbill</a>
                <div class="price-box pb-1">
                    <span class="new-price">$45.00</span>
                </div>
                <div class="rating-box">
                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 pt-4">
        <div class="product-item">
            <div class="product-img">
                <a href="shop.html">
                    <img class="primary-img"
                         src="~/assets/images/website-images//1-5-270x300.jpg"
                         alt="Product Images" />
                    <img class="secondary-img"
                         src="~/assets/images/website-images//1-6-270x300.jpg"
                         alt="Product Images" />
                </a>
                <div class="product-add-action">
                    <ul>
                        <li>
                            <a href="wishlist.html"
                               data-tippy="Add to wishlist"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-like"></i>
                            </a>
                        </li>
                        <li class="quuickview-btn"
                            data-bs-toggle="modal"
                            data-bs-target="#quickModal">
                            <a href="#"
                               data-tippy="Quickview"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-look"></i>
                            </a>
                        </li>
                        <li>
                            <a href="cart.html"
                               data-tippy="Add to cart"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-cart"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-content">
                <a class="product-name" href="shop.html">Butterfly Weed</a>
                <div class="price-box pb-1">
                    <span class="new-price">$50.45</span>
                </div>
                <div class="rating-box">
                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 pt-4">
        <div class="product-item">
            <div class="product-img">
                <a href="shop.html">
                    <img class="primary-img"
                         src="~/assets/images/website-images//1-6-270x300.jpg"
                         alt="Product Images" />
                    <img class="secondary-img"
                         src="~/assets/images/website-images//1-7-270x300.jpg"
                         alt="Product Images" />
                </a>
                <div class="product-add-action">
                    <ul>
                        <li>
                            <a href="wishlist.html"
                               data-tippy="Add to wishlist"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-like"></i>
                            </a>
                        </li>
                        <li class="quuickview-btn"
                            data-bs-toggle="modal"
                            data-bs-target="#quickModal">
                            <a href="#"
                               data-tippy="Quickview"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-look"></i>
                            </a>
                        </li>
                        <li>
                            <a href="cart.html"
                               data-tippy="Add to cart"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-cart"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-content">
                <a class="product-name" href="shop.html">Common Yarrow</a>
                <div class="price-box pb-1">
                    <span class="new-price">$65.00</span>
                </div>
                <div class="rating-box">
                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 pt-4">
        <div class="product-item">
            <div class="product-img">
                <a href="shop.html">
                    <img class="primary-img"
                         src="~/assets/images/website-images//1-7-270x300.jpg"
                         alt="Product Images" />
                    <img class="secondary-img"
                         src="~/assets/images/website-images//1-8-270x300.jpg"
                         alt="Product Images" />
                </a>
                <div class="product-add-action">
                    <ul>
                        <li>
                            <a href="wishlist.html"
                               data-tippy="Add to wishlist"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-like"></i>
                            </a>
                        </li>
                        <li class="quuickview-btn"
                            data-bs-toggle="modal"
                            data-bs-target="#quickModal">
                            <a href="#"
                               data-tippy="Quickview"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-look"></i>
                            </a>
                        </li>
                        <li>
                            <a href="cart.html"
                               data-tippy="Add to cart"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-cart"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-content">
                <a class="product-name" href="shop.html">Doublefile Viburnum</a>
                <div class="price-box pb-1">
                    <span class="new-price">$67.45</span>
                </div>
                <div class="rating-box">
                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 pt-4">
        <div class="product-item">
            <div class="product-img">
                <a href="shop.html">
                    <img class="primary-img"
                         src="~/assets/images/website-images//1-8-  270x300.jpg"
                         src="~/assets/images/website-images//1-8-270x300.jpg"
                         alt="Product Images" />
                    <img class="secondary-img"
                         src="~/assets/images/website-images//1-1-270x300.jpg"
                         alt="Product Images" />
                </a>
                <div class="product-add-action">
                    <ul>
                        <li>
                            <a href="wishlist.html"
                               data-tippy="Add to wishlist"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-like"></i>
                            </a>
                        </li>
                        <li class="quuickview-btn"
                            data-bs-toggle="modal"
                            data-bs-target="#quickModal">
                            <a href="#"
                               data-tippy="Quickview"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-look"></i>
                            </a>
                        </li>
                        <li>
                            <a href="cart.html"
                               data-tippy="Add to cart"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                <i class="pe-7s-cart"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-content">
                <a class="product-name" href="shop.html">Feather Reed Grass</a>
                <div class="price-box pb-1">
                    <span class="new-price">$20.00</span>
                </div>
                <div class="rating-box">
                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> *@
</div>